[Unit]
Description=MMDVM Log Push Notifier
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi-star/MMDVM-Push-Notifier
ExecStart=/usr/bin/python3 /home/pi-star/MMDVM-Push-Notifier/mmdvm_push.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
