[Unit]
Description=MMDVM Push Notifier Service
After=mmdvmhost.service

[Service]
Type=simple
User=pi-star
Group=pi-star
ExecStart=/usr/bin/python3 /home/pi-star/MMDVM-Push-Notifier/mmdvm_push.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
